#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container form {
    width: 15%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#container input[type="text"],
#container input[type="password"] {
    width: calc(100% - 0px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background: white;
}

#container form button {
    width: calc(100% - 0px);
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}


#container button:hover {
    background-color: #0056b3;
}


h2{
  margin-left: 10ex;
  margin-right: 10ex;
  text-align: center;
}

#main_form {
    margin: 0% 10% 0% 10%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}


#fileList{
  padding: 0;
  margin: 0;
}

#fileList li{
  margin: 1ex 10ex 1ex 10ex;
  list-style: none;
  height: 5ex;



  display: flex;
  justify-content: space-between; /*222222*/

}

#fileList li a:hover{
  background: #007bff;
  color: white;
}

#fileList li .button:hover{
  background: red;
  color: white;
}

#fileList li .button{
  width: 40vh;
  border-radius: 1ex;
    padding: 0 1ex;
    height: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
}


#fileList li a{
  width: 160vh;
  border-radius: 1ex;
  padding: 0 1ex;
  height: 100%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
}


#input_file{
  margin: 1ex 10ex 1ex 10ex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#input_file button{

  padding: 1ex 3ex 1ex 3ex;
  border: none;
  border-radius: 1ex;
  background: #007bff;
  color: #fff;
  cursor: pointer;
}
