<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link rel="stylesheet" th:href="@{/css/style.css?version=51}" type="text/css"/>
</head>
<body>

<form id="main_form" action="/upload" method="post" enctype="multipart/form-data">
    <h2>Upload File</h2>
    <div id="input_file">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </div>

    <h2>List of Files</h2>
    <ul id="fileList"></ul>
</form>

<script>
    window.onload = function() {
        const fileList = document.getElementById('fileList');

        function createDeleteButton(filename) {
            const deleteLink = document.createElement('a');
            deleteLink.textContent = 'Delete';
            deleteLink.classList.add('button');

            deleteLink.addEventListener('click', function(event) {
                event.preventDefault();

                const confirmDelete = confirm("Are you sure you want to delete " + filename + "?");

                if (confirmDelete) {
                    window.location.href = '/delete?filename=' + filename;
                }
            });

            return deleteLink;
        }

        fetch('/files')
            .then(response => response.json())
            .then(data => {
                data.forEach(filename => {
                    const listItem = document.createElement('li');
                    const link = document.createElement('a');
                    link.textContent = filename;
                    link.href = '/download?filename=' + filename;
                    listItem.appendChild(link);
                    listItem.appendChild(createDeleteButton(filename));
                    fileList.appendChild(listItem);
                });
            });
    };
</script>


</body>
</html>
