<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>VCloud Register</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />


</head>

<body>

<div id="container">
  <form>
    <input id="login" type="text" placeholder="login">
    <input id="pass1" type="password" placeholder="password">
    <input id="pass2" type="password" placeholder="password">

    <button id="sendPost">Register</button>
    <a href="/login">Login</a>
  </form>
</div>

</body>
</html>
